html {
    height: 100%;
  }
body{
    text-align: center;
    font-size: 20px;
    line-height: 1.27059;
    font-weight: 400;
    letter-spacing: -.022em;
    display:flex;
    height: 100vh;
    flex-direction: column;
}
h1{
    font-size: 25px;
    line-height: 1.04286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h2{
    font-size: 45px;
    line-height: 1.06143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.currFrom .topCurr{
    font-size: 20px;
    display:inline-block;
}
.currOption{
    display:inline-block;
}
.fix{
    margin: 5px;
}
.content{
    flex:1 0 auto;
    padding: 20px;
}
footer{
    flex-shrink: 0;
    padding:5px;
    font-size: 14px;
}
ul.list-inline{
    margin-top:0;
    margin-bottom:15px;
}
ul.social-buttons li a{
    display:inline;
  
}


