html {
    height: 100%;
  }
body{
    text-align: center;
    font-size: 20px;
    line-height: 1.37059;
    font-weight: 400;
    /* letter-spacing: -.022em; */
    display:flex;
    height: 100vh;
    flex-direction: column;
}
h1{
    font-size: 25px;
    line-height: 1.24286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-bottom:5px;
}

h2{
    font-size: 45px;
    line-height: 1.06143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-bottom:20px;
}

.currFrom .topCurr{
    font-size: 20px;
    display:inline-block;
}
.currOption{
    display:inline-block;
    margin-right: 20px;
}
.fix{
    margin: 10px;
    
}

.content{
    flex:1 0 auto;
    padding: 20px;
}
footer{
    flex-shrink: 0;
    padding:5px;
    font-size: 14px;
    margin-bottom:10px;
}

ul li{
    list-style-type:none;
}

ul.list-inline li{
    display: inline-block; 
}

ul.list-inline li a:hover{
    color: white;
    background-color:black;
    animation:up-down 1s ;
   
}

@keyframes up-down {
    70% {
      transform: translateY(-10px) scaleX(-1);
    }
  }

ul.list-inline li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid black;
    line-height: 30px;
    outline: 0;
    background-color:transparent;
    /* -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;  */
    margin-left: 5px;
    color:black;
    font-size: 18px;
}




.buttons{
    display: inline-block;
}




